*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    width: 100%;
    background-color: #161748;

}

.container{
    position: relative;
    background-color: #161748;
}

/* nav section */

nav{
    height: 10vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 2;
}

nav img{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.nav-links{
    display: flex;
    list-style: none;
    width: 50%;    
    height: 100%;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    
}
.nav-links li a{
    color: #c7d3d4ff;
    text-decoration: none;
    font-size: 22px;
}

.resume{
    border: 5px solid white;
    padding: 10px 20px;
    background-color: transparent;
    font-weight: 400;
    border-radius: 20px;
}
#resume{
    color: #cbce91ff;
}

/* sections */

section{
    height: 100vh;
    position: relative;
    color: white;
}


.s1{
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.s1, .s2, .s4{
    margin: auto;
    width: 90%;
}

.s1, .s2{
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s3{
    width: 90%;
    margin: 0 auto;
}

.s4{
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.summary, .about-me, .contact-box{ 
    width: 50%;
    padding-left: 40px;
    align-items: center;
}

.intro1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #cbce91ff;
}

/*
.s1{
    background:linear-gradient(90deg,#970547 0,#970547 50%,#970547 0,#b12a66 0,#b12a66)
}
*/

.intro2{
    font-size: 35px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.intro3{
    line-height: 35px;
    font-size: 26px;
    margin:15px 0;
    color: #c7d3d4ff;
}

.intro4 {
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    width: 130px;
    font-size: 19px;
    font-weight: 600;
    background: transparent;
    border: 5px solid white;
}

.intro4 a{
    color: #cbce91ff;
}

.photo{
    overflow: hidden;
    width: 50%;
}

.photo img{
    width: 70%;
    height: 80%;
    margin-left: 20px;
}

.contact-box h1{
    text-align: center;
    font-size: 40px;
}
.contact-box p{
    font-size: 27px;
    text-align: center;   
}

.say-hello{
    
    margin-top: 40px;
    text-align: center;
    font-size: 36px;
}

.say-hello a{
    text-decoration: none;
    border: 4px solid white;
    padding: 20px;
    border-radius: 25px;
    color: #cbce91ff;
}

.contact-box h2{
    text-align: center;
    margin-top: 30px;
}


ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
}
ul li{
    margin-top: 20px;
    color: #cbce91ff;
    font-size: 24px ;
}


.leg { 
    text-align: center; 
    background: red;
    height: 100%;
    background: #5b78c7;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 80px;
    background: rgba(87, 26, 117, 0.4);
    background: transparent;
    top: 0;
    left: 0;
    
}

.lego{
    position: absolute;
    bottom: 10%;
    left: 25%;
}

a{
    text-decoration: none;
}

.lego i {
    font-size: 25px;
    margin-bottom:30px ;
    display: block;
    cursor: pointer;
    color: white;
}

.contact-box h2{
    display: none;
}


footer{
    position: absolute;
    width: 100vw;
    display: flex;
    align-items: center;
    height: 5vh;
    justify-content: center;
    text-align: center;
    bottom: 0;
    overflow: hidden;
    background:transparent;
    
}


.line{
    display: none;
}


.s3{
    border-top: 1px solid white;
}
.s3 h2{
    text-align: center;
    font-size: 40px;
    color: #dcdee4;
    margin-top: 30px;
}

.projects-folder{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.project-card{
    margin-top: 3%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    width: 45%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-title{
    font-size: 30px; 
    color: antiquewhite;  
    font-weight: 500;
}

.img-text{
    margin: 0 auto;
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box1{
    position: absolute;
    left: 2%;
    width: 60%;
    height: 100%;

}

.box1 img{
    width: 100%;
    height: 100%;
   
}

.project-description{
    position: absolute;
    text-align: center;
    right: -3%;
    z-index: 1;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    opacity: 2;
    color: burlywood;
    background-color: rgba(255, 255, 255, 0.1);
}
.tool-likes{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 90%;

}

.tools{
    display: inline-flex;
    width: 80%;
    color: wheat;
    flex-wrap: wrap;
    overflow: hidden;
}

.links{
    width: 20%;
}

.tools p{
    margin-right: 20px;
    font-size: 20px;
    font-weight: 30px;
}
.black{
    color: rgba(15, 15, 15, 0.6);
}
.white{
    color: rgba(235, 231, 231, 0.5);
}

.links a{
    font-size: 25px;
    margin-left: 15px;
}







@media screen and (max-width: 768px){

    .line{
        display: block;
    }
    nav{
        position: fixed;
        
    }

    .line{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links{
        position: absolute;
        background: transparent;
        height: 30vh;
        width: 50%;
        right: 0;
        
        flex-direction: column;
        clip-path: circle(0px at 70% -15%);
        -webkit-clip-path: circle(0px at 70% -15%); 
        
        transition: all 3s ease-out;
        pointer-events: none;
    }

    .nav-links.open{
    
         clip-path: circle(800px at 70% -15%);
        -webkit-clip-path: circle(800px at 70% -15%); 
        pointer-events: all;
    }
    .s1{
        margin-top: 100px;
    }

    .s1, .s2, .s3, .s4{
        
        display: flex;
        flex-direction: column;
    }
    .summary, .about-me, .contact-box{
        width: 100%;
    }
    .photo{
        display: none;
    }

    .projects-folder{
        display: flex;
        flex-direction: column;
    }

    .project-card{
        width: 85%;
    }

    .project-description{
        font-size: 15px;
        color: tomato;
    }


    .nav-links li{
        opacity: 0;
    }
    .nav-links li a{
        font-size: 20px;
    }

    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }

    li.fade {
        opacity: 1;
    }
}